NODE_ENV=production
PORT=3000
HOST=0.0.0.0
CORS_ORIGIN=https://environomics.in,https://www.environomics.in
STORAGE_DRIVER=mysql
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@environomics.in
ADMIN_PASSWORD=admin@environomics
ADMIN_TOKEN_SECRET=4181942e996141a4ae0e669a7d28218284d08f7fab10a00690a885003f761669
DATA_FILE=./data/content.json
UPLOAD_DIR=./uploads
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=REPLACE_WITH_HOSTINGER_DB_USER
MYSQL_PASSWORD=REPLACE_WITH_HOSTINGER_DB_PASSWORD
MYSQL_DATABASE=REPLACE_WITH_HOSTINGER_DB_NAME
MYSQL_CONNECTION_LIMIT=10
